<div class="optionComponent-{{this.optionMore}}">
    <div class="options-post">
        <div class="MoreOption-boxes" style="color: rgb(92,142,224);" {{on "click" this.edit}}>Edit</div>
        <div class="MoreOption-boxes" style="color: rgb(92,142,224);" {{on "click" this.delete}}>Delete</div>
        <div class="MoreOption-boxes" {{on "click" this.more}}>Cancel</div>
    </div>
</div>
 <div class="optionComponent-likedUsers-{{this.likeToggleUsers}}  ">
    <div class="options-likedUsers">
        <div class="like-heading"  >Likes
             <div class="closebutton" {{on "click" this.likedUser}}>x</div>
        </div>
        
        <div class="AllLikedUsers">
             {{#each this.likeUsers as |users|}}
            <div class="LikedUsers">
                <div class="profileImage-like">
                    <ImageSetting @user={{users}}></ImageSetting>
                </div>
        
                <div class="likedUserId">{{users}}</div>
            </div>
              {{/each}}
        </div>
    </div>
</div>

<div class="AllPostContainer">
 {{#each this.loopingDivArray as |mess|}}
    {{#if (profile-page @page currentProfile mess.UserId) }}
        <div class="postBox" >
           
           <div class="profile">
                <div class="profileImage-post" {{on "click" this.profileDetials}}>
        <ImageSetting @user={{mess.UserId}}></ImageSetting>

                </div>
             <div class="profileNames"> {{mess.UserId}}</div> 
             <div class="notification"></div>
                {{#if (homepage-if this.current mess.UserId) }}
                
                   <div class="optionMore" id="more{{mess.id}}" title="More" {{on "click" this.more}}>...</div>          
                    {{/if}}
                
           </div>

          
            <div class="postContant">
           {{{mess.UserPost}}}
            </div>
            <div id="like{{mess.id}}" class="likesBox">
                 
                {{#if (like-button this.Datas this.current mess.id this.likeButton) }}
                    <div class="like-image liked like-post" {{on "click" this.likeToggle}} ></div>
                
                {{else}}
                     <div class="like-image like-post" {{on "click" this.likeToggle}} ></div>
                {{/if}}
                 <div class="likesCount" id={{mess.id}} {{on "click" this.likedUser}}>{{count-likes this.Datas  mess.id this.likeButton}} </div>
              
            </div>
            
            <div class="commentBox">
                               <Input type="text" @value={{comment}} class="commentInputBox"  autocomplete="off" placeholder="Comment"/>    
                               <div class="CommentPostButton"  id="post{{mess.id}}" {{on "click" this.CommentPost   }}>Post</div>
                                <div class="commentHeading"> </div>
                                   {{#each mess.PostComment as |messs|}}
                                <div class="Comments">
                                    <div class="commentBox-arrange">
                                     <ImageSetting @user={{messs.name}}></ImageSetting>
                                    <div class="userId-Comments">{{messs.name}}</div>
                                    <div class="commentDeleteButton" id="{{messs.mainId}}comment{{messs.id}}" {{on "click" this.deletecomment  }}>x</div>
                                    </div>
                                    <div class="Commentposts">{{messs.commentPost}}</div>
                                    
                                </div>
                                {{/each}}
            </div>
        </div>
         {{/if}}
      {{/each}} 
      </div>   