      {{!-- <div class="backButton" {{on "click" this.back     }} title="back"></div>
   <div class='logo'></div>
        <div class="register-detials">
            <div class="detials">Name
                <Input type="text" @value={{Name}} class="inputBox" placeholder="Name"/>
            </div>
            <div class="detials"> Email Id
                <Input type="text" @value={{email}} class="inputBox" placeholder="email"/>            </div>
            <div class="detials"> password
                <Input type="text" @value={{pass}} class="inputBox" placeholder="pass"/>    
            </div>
           
                <div class="detials">prfileimage
            <Input type="file" @value={{image}} class="inputBox" placeholder="choose image"/> 
            </div>
           <LinkTo @route="index" {{on "click" name}} class="register-button"  >Register</LinkTo>
        </div> --}}
    <div class="cropMainDiv {{this.cropToggle}}"{{on "mouseup"  this.mouseRealsed}}>
        <canvas id="canvasCrop" value={{summa}} style="display: none;"></canvas>
         <div class="canvasImgMain">
        <div style=""  {{on "mousedown" this.mouseClicked}} {{on "mousemove"  this.mouseMove }} {{on "mouseup"  this.mouseRealsed}}  class="imgDiv ">

           <div style="width:{{this.width}}px; height:{{height}}px; margin-left:{{this.marginLeft}}px; margin-top:{{this.marginTop}}px; background-image: url({{this.blobimage}} ); "class="cropImage" {{on "mousemove"  this.mouseMove  }} {{on "mouseup"  this.mouseRealsed}} {{on "mousedown"  this.mouseClicked}}>
    
            </div>   
            <div class="outerCont">
                <div class="innerCont centerAlign">
                </div>
            </div>
            </div>
        <div class="doneButton" >Done</div>
         </div>
       
    </div>
    <div class="MainBox box1">
         <div class="backButton" {{on "click" this.back     }} title="back"></div>
        <img class="profileImage-regiterPage" src={{this.blobimage}}/>
        <p >view your profile image here</p>
    </div>
    <div class="MainBox box2">
          <div class='Register-logo'></div>
            <table class="register-table">
                <tr>
                    <td><div class="detials">Name</div></td> 
                     <td><Input type="text" @value={{Name}} {{on "keyup"  this.checkNames}} class="inputBox" autocomplete="off" placeholder="Name"/>
                     <div class="nameError-{{checkName}}">the username is taken</div>
                     </td>
                     
                </tr>
                <tr>
                    <td>
                         <div class="detials"> Email</div>
                    </td>
                    <td>
                    <Input type="text" @value={{email}} class="inputBox" autocomplete="off"  placeholder="Email" autocomplete="off"/>  
                    </td>
                </tr>
                <tr>
                    <td>  <div class="detials"> Password</div></td>
                    <td>  <Input type="password" @value={{pass}} class="inputBox" placeholder="Password"/></td>
                </tr>
                <tr>
                    <td>
                            <div class="detials">Profile Image</div>
                    </td>
                    <td>
                          <Input type="file" @file={{image}} class="inputBox" {{ on "change" this.imageChange}} id="ko" placeholder="choose image"/> 
           
                    </td>
                    
                </tr>
            </table>
             <div  {{on "click" name}} class="register-button"  >Register</div>
          </div>
